<h1>Help Pages</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi et facere quas
  exercitationem, esse cum excepturi incidunt, ex quam libero unde voluptas
  molestias laboriosam id, ratione asperiores veniam optio fugit?
</p>

<%-contentFor("footer") %>
<p>My Address is CUI</p>
